.StatusLegend {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.completed {
    color: var(--sys-online-indicator);
}

.failed {
    color: var(--sys-error-text);
}

.in_progress {
    color: var(--sys-mention-color);
}